*{
    box-sizing: border-box;
}

img{
    max-width: 100%;
    height: auto;
}

@font-face{
    font-family: "Segoe Regular";
    src: url(../fonts/segoeui.ttf);
}

@font-face{
    font-family: "Segoe Bold";
    src: url(../fonts/segoeuib.ttf);
    font-weight: bold;
}

body {
    font-family: "Segoe Regular";
    margin: 0;
}

.cabecalho-menu {
    background-color: #2571B7;
    padding: 10px 15px;
}

.cabecalho-btn {
    float: right;
    border: none;
    color: #fff;
    background-color: #002050;
    padding: 5px 8px;
}

.cabecalho {
    background-image: url(../img/ballpen-blur-close-up.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}

.cabecalho .frente--escurecer {
    background: rgba(0, 0, 0, 0.65);
    width: 100%;
    height: 100%;
    top: 0;
    padding-top: 120px;
    padding-bottom: 10px;
}

.cabecalho p {
    padding-bottom: 50px;
    font-size: 22px;
}
.cabecalho button {
    border: none;
    color: #fff;
    background-color: #00A4EF;
    padding: 10px 15px;
    width: 150px;
    height: 40px;
    font-size: 16px;
}

.cabecalho img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    padding-top: 200px;
    padding-bottom: 12px;
    max-width:100px;
    width: auto;
    height: auto;
}

/* Sessão Descricao */

.descricao {
    text-align: center;
    padding: 30px 12px 5px 12px;
    color: #737373;
    line-height: 25px;
}

/* Sessão Servicos */

.servicos {
    text-align: center;
    padding: 5px 12px;
    margin: 0;
}

.servicos p {
    color: #737373;
    line-height: 25px;
}

.servicos-titulo {
    color: #2571B7;
    margin: 0;
}

.servicos__artigos {
    color: #fff;
}

.servicos-item {
    margin: 25px 0;
}

.servicos-item img {
    float: left;
    margin-top: 35px;
    margin-bottom: 25px;
    padding: 15px;
}
/*se tela maior que 600px diminui a borda de cima*/
@media only screen and (min-width: 600px) {
    .servicos-item img  {
        margin-top: 20px;
    }
}
/*se tela menor que 350px aumenta a borda de cima e baixo*/
@media only screen and (max-width: 350px) {
    .servicos-item img  {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

.servicos-item p {
    color: #fff;
    text-align: left;
    padding: 10px 10px 35px 10px;
    margin: 0;
}

.servicos-item h2 {
    margin: 0;
    padding-top: 20px;
    text-align: left;
}

.servicos-item1 {
    background-color:#0072C6;
}

.servicos-item2 {
    background-color:#207245;
}

.servicos-item3 {
    background-color:#CB4A32;
}