$cor-principal: #2571B7;
$cor-button: #00A4EF;
$cor-branca: #fff;
$cor-formulario: #E6E6E6;
$cor-cinza_escuro: #64605F;
$cor-menu_escuro: #002050;
$cor-pacotes: #F25022;
$cor-cinza: #DEDEDE;
$cor-limao: #7FBA00;
$cor-amarelo: #FFB900;
$cor-servico1: #0072C6;
$cor-servico2: #2C5898;
$cor-servico3: #207245;
$cor-servico4: #CB4A32;
$cor-servico5: #733781;
$cor-servico6: #00AFF0;
$cor-servico7: #094AB2;
$cor-servico8: #0073C6;
$cor-servico9: #0093BE;
$cor-servico10: #5558AF;