/* Div Descricao */

.descricao {
    text-align: center;
    padding: 30px 12px 5px 12px;
    color: $cor-cinza_escuro;
}

/* Div descricao form */

.descricao--form p {
    margin: 0;
    text-align: center;
    padding: 40px 20% 20px 20%;
}